@model IEnumerable<PortalRegistroIncidencias.Models.usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.primer_apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.segundo_apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo_electronico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrasena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo_activacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.habilitado.habilitar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.primer_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.segundo_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo_electronico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrasena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_activacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.habilitado.habilitar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_usuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_usuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_usuario })
        </td>
    </tr>
}

</table>
