@model PortalRegistroIncidencias.Models.incidencias
@{
    ViewBag.Title = "RegistroDeIncidencias";
}

<h2>Registro de Incidencias</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <script>
        function myFunction() {
            var x = document.createElement("INPUT");
            x.setAttribute("type", "file");
            document.body.appendChild(x);
        }
    </script>

    <div class="form-horizontal">
        <h4>Crear Incidencias</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            @Html.LabelFor(model => model.Tipo_Incidencia_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo_Incidencia_Id, new { htmlAttribute = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo_Incidencia_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Empresa_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Empresa_Id, new { htmlAttribute = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Empresa_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Provincia_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Provincia_Id, new { htmlAttribute = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Provincia_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Canton_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Canton_Id, new { htmlAttribute = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Canton_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distrito_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Distrito_Id, new { htmlAttribute = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Distrito_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fotografia_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="button" id="btnCargar" onclick="myFunction()" value="Cargar Fotografía" />
                @Html.ValidationMessageFor(model => model.Fotografia_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Detalle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Detalle, new { htmlAttribute = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Detalle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>