@model PortalRegistroIncidencias.Models.usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primer_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primer_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundo_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundo_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo_electronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_electronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo_activacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_activacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.habilitado.habilitar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.habilitado.habilitar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provincia.nombre_provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia.nombre_provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.canton.nombre_canton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton.nombre_canton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.distrito.nombre_distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distrito.nombre_distrito)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_usuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
